@import 'partials/variables.css';
@import 'partials/general.css';
@import 'partials/header.css';
@import 'partials/generic.css';
@import 'partials/conocer.css';

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blueviolet
}

video{
    width: 100%;
}





/*ESTE IMPORT VA AL FINAL*/
@import 'partials/mediaQuerys.css';