@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import 'partials/variables.css';
@import 'partials/general.css';
@import 'partials/header.css';
@import 'partials/generic.css';
@import 'partials/meet.css';
@import 'partials/carousel.css';
@import 'partials/_login-register.css';
@import 'partials/home.css';
@import 'partials/posta.css';
@import 'partials/_detail.css';
@import 'partials/account.css';
@import 'partials/population.css';
@import 'partials/_califications.css';
@import 'partials/test.css';




*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--color-2);
}

.guide-div{
    opacity: 0.3;
    background-color: rgb(148, 148, 148);
}

/*ESTE IMPORT VA AL FINAL*/
@media (min-width: 768px) {
    header{
        transition: height 0.4s ease;
        height: 50px;
    }
    video{
        width: 100%!important;
        height: 100%;/*pc 400*/
        object-fit: cover;
    }
    div.homeMedia{
        margin-top: 0;
        width: 100vw;
        height: 100vh;/*pc 400*/
        padding: 0 0;
    }
    div.homeImg img{
        margin-top: 0;
        width: 100%;
        height: 500px;/*pc 500*/
        padding: 0 0;
    }
    button.arrowBtn{
        background-color: var(--btn-bg-color);
        width: 60px;
        height: 60px;
    
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
    
        border: none;
        border-radius: 360px;
    }
    .pcMenu{
        display: inherit;
        height: 50px;
        position: relative;
        z-index: 800;
    }
    .phoneMenu{
        display: none;
        visibility: hidden;
    }
    div.help .orderListOpen{
        height: 100px;
        transition: height 0.4s ease;
    }
    .tips-container{
        display: initial;
    }
    /* .tipsPhoneBtn {
        display: none;
    } */
    .pop-up-background .pop-up.show{
        width: 50%;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-container a:first-child {
        margin-right: 30px;
    }

    .button-container a {
        height: 100%;
        width: 100%;
    }

    .home-primary-button {
        border-radius: 15px;
        background-color: var(--color-3);
        width: 300px;
        height: 80px;
    }

    .main-info div.img-container .edit-photo-btn{/*DESKTOP*/
        position: absolute;
        bottom: 5%;
        right: 4%;
    }
    .presentation{
        width: 50%;
        position: absolute;
        bottom: 45%;
        left: 25%;
    }
  
}

@media (min-height: 580px) {
    .presentation{
        bottom: 25vh;
    }
}

@media (min-width: 430px) {
    div.help .orderList button{
        height: 40px;
        padding: 5px 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #stat{
        padding-left: 27%;
    }

    #slider{
        width: 30% !important
    }
    
    div.pop-up div.quit-btn-container button.quit-btn{
        right: 1% !important;
    }    
}
@import 'partials/mediaQuerys.css';