<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img src="/images/otros/uba_logo.png" alt="">

                </div>
                <div class="col-10">
                    
                </div>
            </div>
        </div>
    </body>
</html>