<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/partials/comingSoon.css">
<body>
    <%- include('./partials/header') %> 
    <div class="coming-soon-container container">
        <h2>Proximamente...</h2>
        <h3>Vas a poder acceder a informacion, reseñas y opiniones sobre todas las universidades, carreras, instituciones y cursos. </h3>
        <h6>Mientras tanto, te invitamos a conocer estudiantes que pueden ayudarte en el proceso de elección </h6>
        <p><a href="/meet"> Ir a Conocer Estudiantes</a></p>
    </div>
    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
</body>
</html>