<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %>
    
    
    <div class="container-fluid">
        
        <div class="wrapper-title">
            <div class="main-title">
                <img src="/images/otros/avatar.png" alt="">
                <h2 class="profile-detail-title">Sofia Arancel</h2>
            </div>
            
            <a href="" class="d-flex"><p class="conditional-whatsapp"><i class="fab fa-whatsapp"> +5411-1155-9988</i></p></a>
        </div>
            
        <div class="row">
            <article class="wrapper-detail-profile col-12 col-md-8">
                    
                <section class="profile-experiences">
                    <h4 class="uni">Universidad</h4>
                    <h4 class="course">Curso</h4>
                </section>
                <section class="profile-interests">
                    <h4>Intereses</h4>
                    <ul class="interests d-flex">
                        <li>interes</li>
                        <li>interes</li>
                        <li>interes</li>
                        <li>interes</li>
                    </ul>
                    <ul class="interests d-flex">
                        <li>interes</li>
                        <li>interes</li>
                        <li>interes</li>
                        <li>interes</li>
                    </ul>
                </section>
                    
            </article>
                
                <aside class="conditional-question-and-tips col-12 col-md-4">
                    <h3>Preguntas y tips</h3>
                    <p>Debe aparecer este aside, si antes contesta alguna pregunta</p>
                </aside>
        </div>     
            
    </div> 
        
        
        <%- include('./partials/scripts') %>
        <%- include('./partials/footer') %>
    </body>
    </html>        