<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %>

    <h1>Formularios:</h1>
    <button><a href="/population/universiy"></a>Crear Universidad</button>
    <button><a href="/population/institute"></a>Crear Instituto</button>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>