<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %>

    <h1>Formularios:</h1>
    <a href="/population/university"><button>Crear Universidad</button></a>
    <a href="/population/institute"><button>Crear Instituto</button></a>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>