<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 vidContainer homeMedia">
                    <video autoplay muted loop>
                        <source src="/videos/videoTest.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="col-12 col-sm-6 homeImg homeMedia">
                    <img class="" src="/images/home/estudiantes.jpg" alt="">
                    <a href="">
                        <button class="arrowBtn">
                            <div class="arrow">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </a>
                </div>
                <div class="col-12 col-sm-6 homeImg homeMedia">
                    <img class="" src="/images/otros/imagen.png" alt="">
                    <a href="">
                        <button class="arrowBtn">
                            <div class="arrow">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </a>
                </div>
            </div>

            <div class="instituteCarousel">
                <section class="customer-logos slider">
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                  <div class="slide"><img src="images/otros/uba_logo.png"></div>
                </section>
            </div>

            <div class="help">
                <h3>¿En que te puedo ayudar?</h3>
                <div class="optionsContainer">
                    <button id="helpBtn1">Qué carrera elijo</button>
                    <button id="helpBtn2">Dónde estudiar</button>
                    <button id="helpBtn3">Hablar con un estudiante</button>
                    <button id="helpBtn4">¿Qué cursos hacer?</button>
                </div>
                
                <div class="orderList">
                </div>
                <h6>¿Tenés alguna otra pregunta que pensas que nosotros te podemos ayudar?</h6>
                <textarea name="opinion" id="opinion" cols="60" rows="5"></textarea>
                <div class="sendBtnContainer">
                    <button class="sendBtn">Enviar</button>
                </div>
                
            </div>
            
        </div>
        <%- include('./partials/scripts.ejs') %> 
        <script src="/js/help.js"></script>
    </body>
</html>