<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %> 
        <div class="container-fluid">
            <video autoplay>
                <source src="/videos/videoTest.mp4">
            </video>
        </div>
        <%- include('./partials/scripts.ejs') %>  
    </body>
</html>