<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %> 
    <div class="container">
        <h1>¡Conocé más estudiantes! </h1>
        <section class="row">
            <article class="filter col-3">
                <a href="#universidad" data-toggle="collapse" ><p>Universidad</p></a>
                    <div class="collapse" id="universidad">
                        <div class="card">
                            <label for=""><input type="checkbox" name="" id="">Ditella</label>
                            
                            <label for=""><input type="checkbox" name="" id="">UBA</label>
                            
                        </div>
                    </div>

                <a href="#carrera" data-toggle="collapse" ><p>Carrera</p></a>
                    <div class="collapse" id="carrera">
                        <div class="card">
                            <label for=""><input type="checkbox" name="" id="">Ciencias Sociales</label>
                            
                            <label for=""><input type="checkbox" name="" id="">Economia</label>
                            
                        </div>
                    </div>

                <a href="#cursos" data-toggle="collapse" ><p>Cursos</p></a>
                    <div class="collapse" id="cursos">
                        <div class="card">
                            <label for=""><input type="checkbox" name="" id="">Programacion Web Full Stack</label>
                            
                            <label for=""><input type="checkbox" name="" id="">Data Analysis</label>
                            
                        </div>
                    </div>
                
                
                <a href="#intereses" data-toggle="collapse" ><p>Intereses</p></a>
                    <div class="collapse" id="intereses">
                        <div class="card">
                            <label for=""><input type="checkbox" name="" id="">Futbol</label>
                            
                            <label for=""><input type="checkbox" name="" id="">Cine</label>
                            
                        </div>
                    </div>

                <a href="#region" data-toggle="collapse" ><p>Region</p></a>
                    <div class="collapse" id="region">
                        <div class="card">
                            <label for=""><input type="checkbox" name="" id="">Buenos Aires</label>
                            
                            <label for=""><input type="checkbox" name="" id="">Cordoba</label>
                            
                        </div>
                    </div>

                <a href="#anio" data-toggle="collapse" ><p>Año de Universidad</p></a>
                    <div class="collapse" id="anio">
                        <div class="card">
                            <label for=""><input type="checkbox" name="" id="">1</label>
                            
                            <label for=""><input type="checkbox" name="" id="">2</label>
                            
                            <label for=""><input type="checkbox" name="" id="">3</label>
                            
                            <label for=""><input type="checkbox" name="" id="">4</label>
                            
                            <label for=""><input type="checkbox" name="" id="">5</label>
                            
                            <label for=""><input type="checkbox" name="" id="">6</label>
                            
                        </div>
                    </div>
            </article>
            <article class="col-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ut?</p>
            </article>
        </section>

    </div>



    <%- include('./partials/scripts') %> 
</body>
</html>