<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/meet.css">
<body>
    <%- include('./partials/header') %>

    <div class="container populationMenu">
        <h1 class="text-left mt-5">Formularios:</h1>
        <a class="w-100 mt-2" href="/population/universitiesMenu"><button class="w-100 mt-2">Ver Universidades</button></a>
        <a class="w-100 mt-2" href="/population/institutesMenu"><button class="w-100 mt-2">Ver Institutos</button></a>
    </div>
    

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>