<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
        <h1>La posta sobre...</h1>

        <div class="pcDropDown">

            <div class="dropdown">
                <button class="categoryDropDown universities">
                    Universidades <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="universities" class="dropdown-content">
                    <input class="universityInput" type="text" placeholder="Search.." id="myInput">
                    <button class="search-btn" type="button">Buscar</button>
                    <div class="universityResults">

                    </div>
                </div>

                

            </div>
            <!--
            <div class="dropdown">
                <button onclick="myFunction('carrers')" class="categoryDropDown carrers">
                    Carreras <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="carrers" class="dropdown-content">
                    <input class="careerInput" type="text" placeholder="Search.." id="myInput">
                    <div class="results">
                    </div>
                </div>
            </div>-->

            <div class="dropdown">
                <button class="categoryDropDown institute">
                    Institutos <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="institute" class="dropdown-content">
                    <input class="instituteInput" type="text" placeholder="Search.." id="myInput">
                    <button class="search-btn">Buscar</button>
                    <div class="instituteResults">

                    </div>
                </div>
            </div>
            <!--
            <div class="dropdown">
                <button onclick="myFunction('curses')" class="categoryDropDown curses">
                    Cursos <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="curses" class="dropdown-content">
                    <input class="courseInput" type="text" placeholder="Search.." id="myInput">
                    <div class="results">
                    </div>
                </div>
            </div>-->

            <div class="dropdown">
                <button class="categoryDropDown region" id="regionButton">
                    Región <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="region" class="dropdown-content">
                    <div class="regionResults">

                    </div>
                </div>
            </div>

        </div>
        
        <div class="posta-filter d-none">
            
        </div>

        <div class="posta-sections mt-3">
            
            <!-- <input class="posta-search" type="text" placeholder="Buscar..."> -->
        
            <div class="postaBtn">
                <button class="general-btn selected">General</button>
                <button class="faqs-tips-btn">Preguntas</button>          
                <button class="lessons-btn">Tips</button>
            </div>
            
        </div>

        <!-- PREGUNTAS -->
        <div class="row faqs-tips-container d-none">
            <div class="alert alert-success d-none" role="alert" id="question-success">
                Muchas gracias! Tu opinion nos importa!
            </div>
            <div class="faqs col-12 col-md-10">
                
            </div>
            <div class="faqs-question-form">
                <% if(typeof userLoggedIn != 'undefined'){ %>
                <div id="question-form" class="d-none">
                    <h4 class="mt-4">Si no encontraste la respuesta que estabas buscando, dejá tu pregunta.<span style="font-size: small;">(maximo 500 caracteres)</span></h4>
                    <textarea id="textarea-question" name="textarea" rows="3" cols="45" placeholder="Preguntar..." maxlength="500"></textarea>
                    <div class="d-flex justify-content-end">
                        <button class="faqs-btn-submit" type="button" onClick="sendQuestion()">Enviar pregunta</button>
                    </div>
                </div>
                <% } else {%>
                    <h4 class="make-questions">¿Tenés preguntas para estudiantes? <a href="/user/login">Inicia Sesión </a> o <a href="/user/register">Registrate</a> para hacerlas</h4>
                <% } %> 
            </div>
        </div>
        <!-- /PREGUNTAS -->
   
        <!-- GENERAL -->
        <div class="row generalFlap">
            <h3 class="text-center col-12 data-posta-container">Buscá para obtener información</h3>
            
            <div class="regionsResults col-10">
            </div>
            <div class="chartJS "><!--col-12 col-md-3-->
                
            </div>
            
            <div class="opinions col-12 col-md-7">
                
            </div>
            
            
            <div class="information-container col-12 col-md-2">
                
                
            </div>
            <div class="container">
                <div class="col-12 carreers-container">
                    
                    
                </div>
            </div>
        </div> 
        <!-- /GENERAL -->
        <!-- REGION TIPS    -->
        <div class="tips-container col-md-10 d-none">
        </div>
        <!-- /REGION TIPS -->
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"></script>
    
    
    <script src="/js/posta.js"></script>
    <!--<script src="/js/googleMaps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLPIr-4QJtDR-Fw8p3rTarMax1R_bfsBw&callback=initMap"
    type="text/javascript"></script>-->
    <script src="/js/posta/postaNav.js"></script>
</body>
</html>