<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
        <h1>La posta sobre...</h1>

        <div class="pcDropDown">

            <div class="dropdown">
                <button onclick="myFunction('universities')" class="categoryDropDown universities">
                    Universidades <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="universities" class="dropdown-content">
                    <input class="universityInput" type="text" placeholder="Search.." id="myInput">
                    <button class="search-btn">Buscar</button>
                    <div class="universityResults">

                    </div>
                </div>

                

            </div>
            <!--
            <div class="dropdown">
                <button onclick="myFunction('carrers')" class="categoryDropDown carrers">
                    Carreras <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="carrers" class="dropdown-content">
                    <input class="careerInput" type="text" placeholder="Search.." id="myInput">
                    <div class="results">

                    </div>
                </div>
            </div>-->

            <div class="dropdown">
                <button onclick="myFunction('institute')" class="categoryDropDown institute">
                    Institutos <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="institute" class="dropdown-content">
                    <input class="instituteInput" type="text" placeholder="Search.." id="myInput">
                    <button class="search-btn">Buscar</button>
                    <div class="instituteResults">

                    </div>
                </div>
            </div>
            <!--
            <div class="dropdown">
                <button onclick="myFunction('curses')" class="categoryDropDown curses">
                    Cursos <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="curses" class="dropdown-content">
                    <input class="courseInput" type="text" placeholder="Search.." id="myInput">
                    <div class="results">

                    </div>
                </div>
            </div>-->

            <div class="dropdown">
                <button onclick="myFunction('region')" class="categoryDropDown region">
                    Región <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <div id="region" class="dropdown-content">
                    <input class="regionInput" type="text" placeholder="Search.." id="myInput">
                    <div class="results">

                    </div>
                </div>
            </div>

        </div>
        
        <div class="posta-sections">
            <input class="posta-search" type="text" placeholder="Buscar...">
        
            <div class="postaBtn">
                <button class="general-btn">General</button>
                <button class="faqs-tips-btn">Preguntas</button>
                <button class="lessons-btn">Tips</button>
            </div>
            
        </div>
        

        <!-- PREGUNTAS -->
        <div class="row faqs-tips-container d-none">

            <div class="faqs col-12 col-md-10">
                
            </div>
        </div>
        <!-- /PREGUNTAS -->
   
        <!-- GENERAL -->
        <div class="row generalFlap">

            <div class="chartJS col-12 col-md-4">
                <canvas id="myChart"></canvas>
            </div>
            
            <div class="opinions col-12 col-md-6">
                
            </div>
            
            
            <div class="information-container col-12 col-md-2">
                

                
            </div>
            <div class="container">
                <div class="col-12 carreers-container">
                    
                    
                </div>
            </div>
        </div> 
        <!-- /GENERAL -->
        <!-- REGION TIPS    -->
        <div class="tips-container col-md-10 d-none">

        </div>
        <!-- /REGION TIPS -->

    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/js/chartJS.js"></script>
    
    <script src="/js/posta.js"></script>
    <script src="/js/googleMaps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLPIr-4QJtDR-Fw8p3rTarMax1R_bfsBw&callback=initMap"
    type="text/javascript"></script>
    <script src="/js/posta/postaNav.js"></script>
</body>
</html>
<!--AIzaSyBLPIr-4QJtDR-Fw8p3rTarMax1R_bfsBw-->