<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/partials/why.css">
<body>
    <%- include('./partials/header') %> 
    <div class="container why-main-container d-none">
        <div class="">
            <div class="d-flex justify-content-center row why-container ">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-5 d-none" id="text">
                        <h3 class="d-none why-h3">Lorem ipsum dolor sit amet.</h3>
                        <h6 class="d-none why-h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cupiditate quidem reprehenderit sit nesciunt accusamus natus, hic non fugiat sed.
                        </h6>
                        <i class="fas fa-hand-holding "></i>
                    </div>
                    <div class="d-none col-5 d-flex justify-content-center" id="img1">
                        <img class="d-none why-img1" src="/images/otros/flecha1.svg" alt="">
                    </div>
                </div>  
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="d-none col-5 d-flex justify-content-center" id="img2">
                        <img class="d-none why-img2" src="/images/otros/flecha2.svg" alt="">
                    </div>  
                
                    <div class="col-5 d-none" id="text1">
                        <h3 class="d-none why-h3-2">Lorem ipsum dolor sit amet.</h3>
                        <h6 class="d-none why-h6-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi obcaecati nulla doloribus. Ipsum consequuntur est suscipit autem iste cumque officia.</h6>
                        <i class="fas fa-hand-holding-heart heart"></i>


                    </div>
                </div>  
                <div class="d-flex justify-content-center">
                    <div class="col-10 d-none" id="text2">
                        <h3 class="d-none why-h3-3">Lorem ipsum dolor sit amet.</h3>
                        <h6 class="d-none why-h6-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo dicta quaerat eligendi architecto dolorem recusandae incidunt facere tempore a cupiditate.</h6>
                        <i class="fas fa-hands-helping"></i>

                    </div>
                </div>  
            </div>
        </div>
    </div>
    <%- include('./partials/scripts') %> 
    <script src="/js/why.js"></script>
</body>
</html>