/*=================================
            DETAIL
=================================*/

.user-formation-subtitle {
    margin-bottom: 0px;
    margin-left: 15px;
}

.wrapper-detail-profile h4{
    text-transform: capitalize;
}


/*=================================
            TITLE
=================================*/
.wrapper-title {
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile-detail-title {
    text-align: center;
    display:flex;
    justify-content: center;
}

.main-title h2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
}

.main-title img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;
}
  
.wrapper-title p {
    display: inline;
    text-align: center;
    padding: 4px;
    margin-bottom: 0;
}

.wrapper-title p i {
    font-weight: bold;
    color: #4FCE5D;
    font-size: 2rem;
}

.detail-title-labels {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
}



/*=================================
        DETAIL
=================================*/

.wrapper-detail-profile {
    margin: 0;
    margin-top: 10px;
}
/*USER - UNIVERSITY*/
.university-user-wrapper {
    background-color: var(--color-10);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

h4.uni {
    text-align: left;
    margin-bottom: 0px;
}

/*USER - COURSE*/

.course-user-wrapper {
    background-color: var(--color-11);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-experiences h4.course {
    text-align: left;
}

/* USER INTEREST */

.interest-user-wrapper {
    background-color: var(--color-12);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* USER EXPERIENCES */

.experiences-user-wrapper {
    background-color: var(--color-13);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* USER TIPS */

.tips-user-wrapper {
    background-color: var(--color-14);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.profile-interests ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.profile-interests ul.interests {
    margin-bottom: 5px;
}

.profile-interests ul.interests li {
    list-style: none;
    text-transform: capitalize;
    margin: 5px;
    padding: 8px;
    background-color: var(--color-4);
    border: var(--color-9);
}

.conditional-whatsapp {
    border-radius: 5px;
}

.conditional-question-and-tips {
    margin-top: 10px;
}