.extra-info form label{
    margin-top: 15px;
    margin-bottom: 0px;
}

.extra-info form input{
    height: 25px;
}

.extra-info form select{
    height: 25px;
}

.extra-info form textarea{
    width: 100%;
}

.main-info div.img-container{
    position: relative;
}

.main-info div.img-container .edit-photo-btn{
    position: absolute;
    bottom: 5%;
    right: 8%;
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    padding: 3px;
    border-radius: 3px;
}

.main-info div img{
    width: 100%;
    height: 95%;
    border-radius: 3px;
    object-fit: cover;
}

div.notifications{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: relative;
    
}

div.notifications button{
    margin: 20px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: var(--btn-border-radius);
}

div.notifications button i{
    padding-top: 8px;
    color: white;
}



.extra-info .btn-container{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
}

.extra-info .btn-container button{
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    color: black;
    height: 40px;
    padding: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
}

#interestButton{
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    padding-left: 5px;
    padding-right: 5px;
}

#interestButton:focus{
    outline: none;
    border: var(--btn-bg-color-focus);
}

button.interest-btn{
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    height: 40px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.personalInfo{
    margin-bottom: 3px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

#province{
    width: 200px;
}

#experiences{
    width: 100%;
    border: 2px solid var(--color-5);
    border-radius: 3px;
}

#experiences:focus{
    outline: none;
    width: 100%;
    border: 2px solid var(--color-6);
    border-radius: 3px;
}

.university{
    position: relative;
}
.university button.addCareerBtn{
    position: absolute;
    z-index: 200;
    bottom: -5px;
    right: 50px;
    width: 40px;
    padding-top: 2.5px;
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    height: 40px;
}
.university a{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.institute{
    position: relative;
}
.institute a{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.institute button.addCourseBtn{
    position: absolute;
    z-index: 200;
    bottom: -5px;
    right: 50px;
    width: 40px;
    padding-top: 2.5px;
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    height: 40px;
}

.amountDiv{
    margin-bottom: 3px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.close{
    height: 0;
    transition: heigth 0.4 ease-in;
}
.open{
    height: 25px;
    transition: heigth 0.4 ease-in;
}

.an-account-input {
    border: 2px solid var(--color-5);
    padding: 5px;
    border-radius: 5px;
}

.an-account-input:focus {
    outline: none;
    border: 2px solid var(--color-6);
    border-radius: 5px;
}

.an-account-input:hover {
    border: 2px solid var(--color-6);
    border-radius: 5px;
}

.an-account-select {
    outline: none;
    padding: 1px;
    border: 2px solid var(--color-5);
    border-radius: 5px;
}

.an-account-select:hover {
    border: 2px solid var(--color-6);
    border-radius: 5px;
}

.interests li {
    list-style: none;
    text-transform: capitalize;
}

.add-btn-container{
    width: 100%;
    display: flex;
    justify-content: end;
}

.add-btn{
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: var(--btn-bg-color);
    border: none;
}

.email-error{
    border-color: red !important;
}

.confirm-div{
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    z-index: 250;
    padding: 25px;
    background-color: white;
    border: black solid 1px;
    text-align: center;
}
.confirm-div button{
    width: 40px;
    padding: 5px;
    height: 40px;
    border: none;
}

.confirm-div button#positive{
    background-color: greenyellow;
}

.confirm-div button#negative{
    background-color: red;
}

#submitBtn{
    padding-left: 10px !important;
    padding-right: 10px !important;
}