/*=================================
            PHONE
=================================*/


header{
    background-color: rgb(179, 179, 179);
    background-size: cover;
    background-position: center;
    height: 0px; 
    transition: height 0.4s ease;
}

header.move-up{
    height: 0px;
    transition: height 0.4s ease;
}

header h1{
    padding-top: 12px;
    margin-left: 0px;
}

header div.phoneMenu nav.sidebar{
    position: fixed;
    z-index: 50;
    height: 100%;
    width: 200px;
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--color-3) 0%, var(--color-4) 100%);
    opacity: 0.95;
    transition: background-color 0.5s, border-radius 0.3s, opacity 0.5s;    
    right: -200px;
    transition: right 0.4s ease;
}

header div.phoneMenu nav.show{
    right: 0;
    transition: right 0.4s ease;
}

header div.phoneMenu nav  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header div.phoneMenu nav  ul div.userOptions {
    text-align: center;
    margin-top: 30%;
}


header div.phoneMenu nav  ul li{
    line-height: 60px;
    /*border-bottom: 1px solid white;*/
    
}

header div.phoneMenu nav  li a{
    text-decoration: none;
    padding-left: 5px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-right: 3px solid transparent;
}

header div.phoneMenu nav  li a:hover{
    text-decoration: none;
    color: black;
    border-right-color: var(--btn-bg-color-hover);
    width: 100%;
}

header div.phoneMenu nav  li a img {
    width: 100px;
}

header div.phoneMenu .sidebar .text{
    margin-top: 30px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

header div.phoneMenu .btnMenu.click{
    right: 200px;
}


header div.phoneMenu .btnMenu {
    position: fixed;
    z-index: 50;
    top: 13px;
    right: 15px;/* a 200*/
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 5px;
    border: none;
    transition: right 0.4s ease;
    background-color: rgba(1, 1, 1, 0.1);
}

header div.phoneMenu svg{
    padding: 0 auto;
}

header div.phoneMenu .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header div.phoneMenu .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
header div.phoneMenu .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
header div.phoneMenu .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
header div.phoneMenu .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
header div.phoneMenu .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
header div.phoneMenu .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.dropMobileAccount{
    border-radius: 5px;
    background-color: var(--color-3);
}

.dropMobileAccount a:hover{
    background-color: var(--color-4);
}



/*=================================
            -PC-
=================================*/

.dropmenuAccount {
    height: fit-content!important;
    /* z-index: 4000!important; */
    border-radius: 5px;
    background-color: var(--color-3);
}

.dropmenuAccount a:focus {
    background-color: var(--color-5);
}

.pcMenu{
    margin: 0 0;
    height: 50px;
    display: none;
}

div.pcMenu nav{
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--color-3) 0%, var(--color-4) 100%);
    opacity: 0.85;
    transition: background-color 0.5s, border-radius 0.3s, opacity 0.5s;
    border-bottom: 5px;
    height: 50px;
}
    

div.pcMenu nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.pcMenu nav ul li{
    position: relative;
    display:inline-block;
    line-height: 50px;
    height: 100%;
}

div.pcMenu nav ul div{
    /*height: 50px;*/
}

div.pcMenu nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    height: 50px;
}

div.pcMenu nav ul li a:hover{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--btn-bg-color-hover);
    transform: border-bottom 0.2s ease-in-out;
    width: 100%;
}

div.pcMenu nav ul li a img{
    width: 90px;
}
/*
div.pcMenu nav ul div{
    height: 100%;
}*/

div.pcMenu nav div li{
    display:inline-block;
    margin-left: 5px;
    line-height: 50px;
    height: 100%;
}



/*ANIMACION DE RECUADRO*/
#box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 50px;
    color: white;
}
.gradient-border {
  --borderWidth: 5px;
  position: relative;
  border-radius: 3px;
  border-bottom: 10px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  
  background: linear-gradient(60deg, rgb(123,216,240),rgb(14,155,218), rgb(1,146,203), rgb(14,155,218), #5073b8, #1098ad, rgb(109,216,254), #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  
}
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
/*FIN DE ANIMACION*/


#la-posta-reminder{
    padding: 7px;
    position: absolute;
    background-color: var(--color-4);
    top: 9.5% !important;
    left: 19% !important;
    height: 155px !important;
    width: 180px !important;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 600;
}

#meet-students-reminder{
    padding: 7px;
    position: absolute;
    background-color: var(--color-4);
    top: 9.5% !important;
    left: 41.5% !important;
    height: 130px !important;
    width: 180px !important;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 600;
}


.text-container p{
    height: 20px !important;
    text-align: center;
}

.headerCuenta{
    top: 0px !important;
    left: 15px !important; 
    z-index: 600!important;
}

