.container-meet{
    background-color: var(--color-2);
    width: 100vw;
}

#slider {
     /*mediaquery para pc  
     width: 50%; */
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    overflow: auto;
    max-height: 100vh;
}


.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}



.div-filter{
    padding: 3px;
    width: 100vh;
    height: 100%;
    position: absolute;
    background-color: var(--color-2);
    position: absolute;
    z-index: 70;
}

.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    position: fixed;
    top: 25px;
    left: 25px;
  }

  .arrow-left {
    transform: rotate(-135deg);
  }

.div-filter a {
    text-decoration: none;
    color: black;
}

.div-filter a p{
    margin: 25px;
}

.div-filter a p.universidad{
    margin-top: 65px;
}

.div-filter div label {
    font-size: 13px;
    text-align: start;
    margin: 5px;
}

.div-filter div input{
    margin: 2px;
}

.div-filter div div {
    width: 90%;
}

.estudiante{
    background-color: white;
    border: 1px solid var(--color-3);
    border-radius: 8px;
    margin: 15px;
}

.estudiante img {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: -30px;
    right: -25px;
    margin: 5px;
    object-fit: cover;
}

.estudiante h3{
    margin-top: 30px;
    text-transform: capitalize;
}
.estudiante{
    text-align: center;
}
.estudiante button{
    padding: 5px;
    margin: 10px;
    border: var(--btn-border);
    background-color: var(--btn-bg-color);
    border-radius: 8px;
}
.estudiante button:hover{
    background-color:  var(--btn-bg-color-hover);
    border: var(--btn-border-hover);
}
.estudiante button:focus{
    outline: none;
    background-color: var(--btn-bg-color-focus);
    border: var(--btn-bg-color-focus);
}

.hid{
    display: none;
}
.btn-filter{
    background-color: var(--btn-bg-color-scnd);
    border: var(--btn-border-scnd);
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}
.btn-filter:hover{
    background-color: var(--btn-bg-color-scnd-hover);
    border:var(--btn-border-scnd-hover);
}
.btn-filter:focus{
    background-color: var(--btn-bg-color-scnd-focus);
    border:var(--btn-border-scnd-focus);
    outline: none;
}


.filter-btn{
    background-color: var(--btn-bg-color-scnd);
    border: var(--btn-border-scnd);
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
}
.filter-btn:hover{
    background-color: var(--btn-bg-color-scnd-hover);
    border:var(--btn-border-scnd-hover);
}
.filter-btn:focus{
    background-color: var(--btn-bg-color-scnd-focus);
    border:var(--btn-border-scnd-focus);
    outline: none;
}

#meet-title{
    text-align: center;
    padding: 15px;
}


.sleep-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 600;
}


.sleep-background:before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    right:0;
    background-color: rgb(155, 155, 155);
    opacity: 0.7;
}

.sleep-background h3 {
    padding: 10px;
    background-color: white;
    opacity: 1;
    z-index: 700;
    border-radius: 5px;
}

.sleep-background img{
    border-radius: 5px;
    height: 300px;
    width: 300px;
    opacity: 1;
    z-index: 700;
}

.meet-filter{
    border: 1px solid black;
    margin: 10px;
}

.meet-filter h6{
    margin: 10px;
    display: inline-block;
}

.meetPaginationContainer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap!important;
    justify-content: space-between;
}

.meetPaginationContainer button{
    margin: 2px;
    margin-top: 2px;
    padding: 5px;
    height: 46px;
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
}

.btn-container-meet{
    display: flex;
    width: 100%;
}

.meetPaginationContainer .after-btn{
    align-self: flex-end;
}

.meetPaginationContainer .before-btn{
    align-self: flex-start;
}

.meet-to-right{
    display: flex;
    justify-content: flex-end;
}

.meet-to-left{
    display: flex;
    justify-content: flex-start;
}

