
/* ---------GENERAL----------- */

h1 {
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
}

/* ---------DROPDOWN FILTER----------- */

button.categoryDropDown{
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
  height: 40px;
  width:250px;
  margin-bottom: 5px;
  border-radius: var(--btn-border-radius);
}

.pcDropDown{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posta-filter{
  border-top: 2px solid black;
  min-height: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput/*Uni, #myInputInst */{
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
}

/* The search field when it gets focus/clicked on */
#myInputUni:focus, #myInputInst:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content input[type="text"]{
  /*max-width: 135px;*/
  padding: 0px;
  font-size: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  /*max-width: 135px;*/
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

/* ---------SECTIONS----------- */


.posta-search{
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
  align-self: center;

}

.posta-filter h6{
  background-color: rgba(231, 231, 231, 0.788);
  padding: 7px;
  border: 1px solid rgba(128, 128, 128, 0.788);
}

.posta-sections{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.postaBtn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;;
}

.postaBtn button {
  background-color: var(--btn-bg-color-scnd);
  border: var(--btn-border-scnd);
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: var(--btn-border-radius);
}

.faqs-tips-btn-click{
  background-color: red;
}

.postaBtn button:hover {
  background-color: var(--btn-bg-color-scnd-hover);
  
}


.postaBtn button:focus {
  background-color: var(--btn-bg-color-scnd-focus);
  outline: none;
}

/* ---------FAQS & TIPS----------- */

.faqs-tips-container {
  margin-top: 20px;
}

.faqs{
  margin-top: 25px;
  padding: 10px;

  /*padding: 15px;
  padding-right: 0;*/ /*ASI EN PC*/
}

.faqs .question-container{
  margin-top: 15px;
  padding: 10px
}

.faqs .question-container:nth-child(odd){
  background-color: var(--color-1);
  border-radius: var(--btn-border-radius);
}

.faqs .question-container:nth-child(even){
  background-color: var(--color-9);
  border-radius: var(--btn-border-radius);
}

.faqs .question-container h6{
  margin-top: 5px;
}

.faqs .question-container h5{
  margin-top: 0px;
  padding-left: 10px;
}

.faqs .question-container h5 img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
}

.faqs h3{
  display: inline-block;
  margin-right: 10px;
}

.faqs input {
  width: 350px;
}

.make-questions{
  margin: 30px;
}

button.more-info-btn{
  margin: 5px;
}

button.faqs-btn-submit{
  align-items: flex-end;
}

button.faqs-btn-submit,button.more-info-btn{
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  width: fit-content !important;
}

.tips-container {
  margin-top: 25px;
  padding: 10px;
  /* display: none; */
}

.tips-container h3 { 
  display: inline-block;
  margin-right: 10px;
}

.tips-container p img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
}

.tips{
  background-color: var(--color-4);
  border-radius: var(--btn-border-radius);
  padding: 5px;
}
/* 
button.tipsPhoneBtn {
  background-color: var(--btn-bg-color-scnd);
  border: var(--btn-border-scnd);
  position: fixed;
  top:50%;
  left: 93%;
  width: 30px;
  z-index: 40;
}

button.tipsPhoneBtn p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  margin: 0;
}


.mobileTips{
  position: fixed;
  left: 100%;
  transition: left 0.4s ease;
  z-index: 25;
  width: 100%;
  height: fit-content;
  background-color: var(--btn-bg-color-scnd);
  padding: 5px;
}

.mobileTips p img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
}

.mobileTips h3 {
  display: inline-block;
}

.mobileTips input {
  width: 80%;
}

.openMobileTips{
  left: 0%;
  transition: left 0.4s ease;
}

.mobileTipsCross{
  background-color: transparent;
  border: none;
}



.mobileTips h6 img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
} */

/* ---------GENERAL FLAP----------- */

.general-btn{
  /* border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; */
}

.selected{
  background-color: var(--btn-bg-color-scnd-focus) !important;
}


.generalFlap{
  position:relative;
  margin-top: 20px;
}

.opinions section article h6 img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
}

.opinions section {
  margin-top: 15px;
}

.opinions section article {
  margin: 5px;
  border-radius: 8px;
  border:1px solid var(--color-5);
  padding: 5px;
  text-align: justify;
}

.information-container ul li {
  margin-left: 30px;
  list-style: none;
}


/* ---------LESSONS----------- */

.tips-container h3{
  text-align: center;
}

.lessons-btn{
  /* border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; */
}

.lessons-btn-click{
  background-color: red;
}

.materias-container {
  margin-top: 25px;
  padding: 10px;
  border-right: 2px solid grey; 
}

.lessons-container .materias-container button{
  background-color: var(--btn-bg-color-scnd);
  border: var(--btn-border-scnd);
  width: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.lessons-container button{
  background-color: var(--btn-bg-color-scnd);
  border: var(--btn-border-scnd);
  margin-bottom: 20px;
}

.lessons-container p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#map{
  width: 100%;
  height: 200px;
}

/* ---------CARRERAS----------- */

.carreers-h4-container h4{
  text-align: center;
}

.carreers-container div{
  width: 100%;
}

.carreers-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.carreers-btn button{
  width: min-content;
  height: 46px;
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.carreers-btn button:hover{
  background-color: var(--btn-bg-color-hover);
  border: var(--btn-border-hover);
}

.carreers-btn button:focus{
  background-color: var(--btn-bg-color-focus);
  border: var(--btn-border-focus);
}

button.search-btn{
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  padding: 2px;
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
}

button.resultsOption{
  padding: 5px;
  /*height: 46px;*/
  width: 100%;
  text-align: left;
  background-color: var(--btn-bg-color-focus);
  border: var(--btn-border-focus);
}


.paginationContainer{
  width: 100%;
  display: flex;
  justify-content: end;
}

.paginationContainer button{
  margin: 2px;
  margin-top: 2px;
  padding: 5px;
  height: 46px;
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
}

.paginationAnswerContainer, .paginationTipsContainer {
  display: flex;
}

.paginationAnswerContainer button, .paginationTipsContainer button{
  margin: 2px;
  margin-top: 10px;
  padding: 5px;
  height: 46px;
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  justify-content: flex-end;
}

.question-container{
  margin-bottom: 10px;
  padding: 5px;
}

.question-container img {
  text-align: left;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.question-container h5{
  margin: 0px;
  margin-top: 2px!important;
  height: 100%;
}

.question-container .response-h5{
  margin-left: 40px;
}

.tips {
  margin-bottom: 10px;
  padding: 5px;
}

.tips img {
  text-align: left;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.tips h5 {
  margin: 0%;
  margin-top: 2px;
  height: 100%;
}


.regionResults, .dropdown-content{
  overflow: auto;
  max-height: 450px;
}

.regionResults::-webkit-scrollbar, .dropdown-content::-webkit-scrollbar{
  display: none;
}

.regionResults, .dropdown-content{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.region-btn, .resultsOption{
  margin: 0px;
  width: 100%;
  border: solid 1px #DDDDDD;
  padding: 2px;
}

.region-btn:hover, .resultsOption:hover{
  background-color: #DDDDDD
  ;
}

.regionsResults, .dropdown-content{
  width: 100%;
}

.region-result-btn{
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  padding: 5px;
  margin: 10px;
}

.filter-button{
  text-decoration: none;
  color: black;
}

.filter-button:hover{
  text-decoration: none;
  color: black;
}


/*-------------------------------------------------------------------------------------*/
.circle.small {
	border-radius: 50%;
	width: 150px;/*220*/
	height: 150px;
	z-index: 86;
}

.circle.small.makered {
	border: 8px solid #ff2e2e;
}

.makered {
	color:#ff2e2e;
}

.circle.small.makeyellow {
	border: 8px solid #f6fa2d;
}

.circle.small.makegreen {
	border: 8px solid #42f84b;
}



.circle.filled {
	background-color: #666666;
}

.circle h2 {
    text-align: center;
    font-weight: 800;
    font-size: 65px;/*100*/
    color: #222222;
    text-decoration: none;
    display: block;
    letter-spacing: -0.02em;
    word-spacing: -0.02em;
    line-height: 1;
    margin-top: 25%;/*30*/
}


.universityResults{
  max-height: 450px;
}

.universityResults option{
  white-space: normal;
  word-break: break-all;
  margin-top: 0px;
  padding: 5px;
  width: 100%;
  border: solid 1px #DDDDDD;
}

.universityResults option:first-child{
  margin-top: 2px;
}

.instituteResults{
  max-height: 450px;
}

.instituteResults option{
  white-space: normal;
  word-break: break-all;
  margin-top: 0px;
  padding: 5px;
  width: 100%;
  border: solid 1px #DDDDDD;
}

.instituteResults option:first-child{
  margin-top: 2px;
}

.own-img{
  max-height: 190px;
  object-fit: cover;
}

.title-image a{
  color: black;
}

.title-image a:hover{
  color: black;
}

.question-format{
  font-style: bold;
}

.answer-format{
  font-style: italic;
}

.answer-format a{
  color: black;
}

@media(min-width: 768px){
  .carreers-btn button{
    width: min-content;
  }
}