.card-image{
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    padding-top: 10px;
}

.card-image img{
    border-radius: 100%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.card-image .title-image{
    padding-left: 2px;
    display: inline;
}
